{% extends 'StrixJunctionApplicationBundle:Default:index.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ pageTitle }}</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ pageContent }}
        </div>
    </div>


{% endblock content %}
