{% extends 'StrixJunctionApplicationBundle:Default:index.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>REGISTRATION FOR BALTIC JEWISH NETWORK 2014</h1>

        </div>
    </div>
    <div>
        <div class="col-sm-6">
            
        </div>
        <div class="col-sm-6">

            <img src="">
        </div>
    </div>


{% endblock content %}
