<html>
<head>

    {% stylesheets filter='cssrewrite'
    'bundles/strixjunctionapplication/datepicker/css/*'
    'bundles/strixjunctionapplication/css/*'
    'bundles/pinanoselect2/css/select2.css'
    '@bootstrap_less'
    'bundles/pinanoselect2/css/select2-bootstrap.css'


     %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {#<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>#}
    {% javascripts
    'http://code.jquery.com/jquery-1.10.1.min.js'
    '@bootstrap_js'
    '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
    '@StrixJunctionApplicationBundle/Resources/public/datepicker/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            $(".mydatetimepicker").datepicker({viewMode: 2});
            $("select").select2();
        });
    </script>

</head>
<body style="min-width: 400px">


<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">BALTIC JEWISH NETWORK</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {#<ul class="nav navbar-nav">#}
            {#<li class="active"><a href="#">Link</a></li>#}
            {#<li><a href="#">Link</a></li>#}
            {#<li class="dropdown">#}
                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>#}
                {#<ul class="dropdown-menu">#}
                    {#<li><a href="#">Action</a></li>#}
                    {#<li><a href="#">Another action</a></li>#}
                    {#<li><a href="#">Something else here</a></li>#}
                    {#<li class="divider"></li>#}
                    {#<li><a href="#">Separated link</a></li>#}
                    {#<li class="divider"></li>#}
                    {#<li><a href="#">One more separated link</a></li>#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
        {#<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>#}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>



<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>REGISTRATION FOR BALTIC JEWISH NETWORK 2014</h1>

        </div>
    </div>
<hr>
<div class="row">
    <div class="col-sm-6">

            {% form_theme form 'StrixJunctionApplicationBundle:Form:bootstrap.html.twig' %}
            {{ form(form) }}
    </div>
    <div class="col-sm-6">
        <div class="alert alert-info">
            Please fill in the form on the left to register for Baltic Jewish Network 2014 in Jurmala, Latvia. If you are selected to participate, we will get in touch with you shortly to continue the registration process. Please note that the spaces are limited.
        </div>

    </div>
</div>
<hr>
<h2>THANK YOU FOR SUBSCRIBING!</h2>

<h3>WE WILL KEEP YOU POSTED!</h3>

</div>
</body>

</html>