{% extends 'StrixJunctionApplicationBundle:Default:index.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{% trans %}THANK YOU FOR SUBSCRIBING!{% endtrans %}</h1>
            <h2>{% trans %}WE WILL KEEP YOU POSTED!{% endtrans %}</h2>
        </div>
    </div>

{% endblock content %}
